/*
    Reactive styles
*/

#desktop-wrapper{
    display: block;
}

#mobile-wrapper{
    display: none;
}

/*
    Text format styles
*/
#desktop-wrapper h1{
    font-size: 20vw;
}

#desktop-wrapper .fas{
    font-size: 7vw;
}

#desktop-wrapper{
    text-align: center;
}

@media (max-width: 800){
    /*
        Reactive styles
    */
    #desktop-wrapper{
        display: none;
    }
    
    #mobile-wrapper{
        display: block;   
    }
}